@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-black: #140f00;
    --text-white: #FFFAEB;
    --background: #fffaeb;
    --primary: #e86a26;
    --secondary: #fff5d6;
    --accent: #cf4307;
  }
  .dark {
    --text: #FFFAEB;
    --background: #140f00;
    --primary: #f86c30;
    --secondary: #291f00;
    --accent: #d95b17;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
};
